body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    border-radius: 10%;
    border-color: black;
}

.quiz-container {
    background: rgb(223, 228, 246);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

#quiz {
    padding: 30px 40px;
}

.quiz-header {
    margin-bottom: 20px;
}

.quiz-header h2 {
    margin: 0;
    margin-bottom: 20px;
    color: #333;
}

.quiz-header ul {
    list-style-type: none;
    padding: 0;
}

.quiz-header li {
    margin-bottom: 10px;
}

#submit {
    background-color: #007BFF;
    color: rgb(245, 164, 164);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#submit:hover {
    background-color: #0056b3;
}
